# --------------------------------------------
# Python
# --------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/


*.idea
*.DS_STORE
partidas/
.vscode/
farmers-protest-tweets-2021-03-5.json
*.mp4
*.zip
*.mov